@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}


.gradient-blue{
  @apply bg-gradient-to-r from-blue-800 via-blue-400 to-white bg-clip-text text-transparent;
}


.project{
  @apply p-6 border-2 border-white flex flex-col transition-all duration-200;
}

.project:hover{
  @apply bg-slate-900 border-blue-500 shadow-lg shadow-blue-500/20;
}

.gallery{
  @apply grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-6 p-10 pt-5;
}

footer {
  @apply mt-16 mb-8 text-center text-gray-400 text-sm;
}